    <div class="back">
    <div class="border-bottom">
        <header class="d-flex flex-wrap py-3 mb-4 " style="justify-content: space-between;">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="bi" width="100" height="32" role="img"  src="assets/img/acBlog.jpg" alt="Img not Found" >
            </a>
          </div>
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
          </div>
        </header>
      </div>
<div class="main ">
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to AC-Blog,</h1>
          <p>We are <strong>A CREATIVE BLOG</strong> ,here you will find a wide range of blogs on different topics.</p>
          <p> <button type="button" class="btn btn-warning" routerLink="registration">Create your own Blog</button></p>
        </div>
      </div>
</div>
<div class="Footer  border-top">
    <span><strong>AC-Blog &copy; 2023</strong>></span>
</div>
</div>
