.back{
    background-image: url('/assets/img/bg1.jpg');
    background-repeat:no-repeat;
    color: white;
}

.main{
 height: 85vh;
 text-align: center;
}
.Footer{
    bottom: 0;
    height: 60px;
    padding-top: 10px;
}

