
<nav class="navbar navbar-light bg-dark sticky-top">
  <a class="navbar-brand" href="/dashboard">
    <img src="assets/img/acBlog.jpg" width="100" height="30" alt="Img Not Found">
  </a>
    <form class="form-inline">
     <button type="button" class="btn btn-info mx-2" (click)="back()">back</button>
     <button class="btn btn-outline-warning "  type="button" routerLink="add">New Blog <i class="fa fa-plus-square" aria-hidden="true"></i></button>
    <button class="btn btn-outline-danger mx-3" type="button" (click)="logout()">logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </form>
</nav>


